@using ManagementSystem.Web.ViewModels
@using ManagementSystem.Data.Models
@model TaskViewModel

<div class="task-simple-wrapper task-@Model.Type">
    <a href="~/Tasks/Details/@Model.Id" title="See details">
        <div class="list-group-item task-as-block @(@Model.Type==TaskType.Common?string.Empty:Model.Type==TaskType.Important?"text-important":"text-emergency")">
            <p class="task-desc">
                <strong>Description: </strong> @(@Model.Description.Length > 10 ? @Model.Description.Substring(0, 10) + "..." : @Model.Description)
            </p>
            <hr />
            <p>
                Status: @Model.Status
            </p>
            <hr />
            <p>
                Type: @Model.Type
            </p>
            <hr />
            <p>
                Required by: @Model.RequiredByDate.ToString("MM/dd/yyyy")
            </p>
            <hr />
            <p>
                Next action on: @(@Model.NextActionDate == null ? "None" : @Model.NextActionDate.Value.ToString("MM/dd/yyyy"))
            </p>
            @*<hr />
            <p>
                Comments: @Model.Comments.Count
            </p>*@
        </div>
    </a>
</div>
